<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../../node_modules/bootswatch/dist/lux/bootstrap.min.css" rel="stylesheet">
    <link href="../../node_modules/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

    <title>Travel Manager</title>
</head>
<body>
<div id="response-message" class=" py-3" hidden></div>
<div class="card col-8 mx-auto" >
    <img class="card-img-top" id="img">
    <div class="card-body">
        <h5 class="card-title" id="title"></h5>
        <p class="card-text" id="destination"></p>
        <p class="card-text" id="long_desc"></p>
        <p class="card-text" id="perks"></p>
        <p class="card-text" id="price"></p>
        <button id="btn-edit" class="btn btn-warning">Edit</button>
        <button id="btn-delete" class="btn btn-danger">Delete</button>
    </div>
</div>
<script>
    window.controllers.loadController('details');
</script>
</body>
</html>